.note-component-wrapper {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 300px;
  margin-bottom: 10px;
}

.note-hashtags-list-title {
  margin-right: 2px;
}

.note-hashtags-list {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.note-content-wrapper {
  display: flex;
  flex-direction: column;
}

.note-content-title {
  display: flex;
  align-content: flex-start;
  width: 100%;
}

.note-content {
  /*For text inside message*/
  height: 100%;
  width: 100%;
  white-space: initial;
  word-wrap: break-word;
}

.highlight {
  display: inline;
  margin: 0;
  padding: 0;
  text-decoration: solid;
  font-weight: 600;
  color: blue;
}


