.hashtag-wrapper {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 3px;
}

.hashtag-input {
  outline: 0;
  border: none;
  width: 100px;
  height: 30px;
  border-radius: 2px;
}

.icons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-left: 5px;
}

.hashtag-icon {
  width: 20px;
  height: 20px;
}