.App {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;

  background: linear-gradient(
    90deg,
    rgba(27, 48, 39, 1) 0%,
    rgba(57, 114, 123, 1) 24%,
    rgba(76, 126, 128, 1) 50%,
    rgba(57, 114, 123, 1) 76%,
    rgba(27, 48, 39, 1) 100%
  );
}

.notes-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 25px;
  margin-left: 2px;
  margin-right: 2px;
  border-bottom: 4px solid rgb(36, 55, 58);
  border-top: 4px solid rgb(36, 55, 58);

  overflow-y: auto;
  border-radius: 10px;

  background-color: rgba(30, 30, 30, 0.5);
}

.no-notes-text-msg {
  margin-top: 6rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
  font-size: xx-large;
  font-weight: bold;
  color: white;
}

.no-notes-advice-msg {
  font-size: medium;
  margin-top: 10px;
}

.note-actions-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
}

.note-create-btn {
  width: 130px;
  height: 50px;
  font-size: medium;
  font-weight: 600;
  border-radius: 7px;
  border: 1px solid black;
  background-color: rgb(56, 56, 56);
  color: white;
}

.note-create-btn:hover {
  background-color: rgba(33, 33, 33, 0.5);
}

/*Common styles*/
.icon:hover,
.action-icon:hover,
.btn:hover {
  cursor: pointer;
}

.icon {
  background-repeat: no-repeat;
}
